@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins:wght@500&display=swap');

/* App */
.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar */
.Sidebar {
    background-color: var(--color-white);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-base);
    width: 30rem;
    min-width: 19rem;
    height: 100%;
}

/* Main */
.Main {
    background-color: var(--color-light-green);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-base);
    position: relative;
}

/* User */
.User {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 1px solid var(--color-light-green);
}

.User .logo img {
    width: 35px;
}

.User .info p {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.User .info a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

/* Modal */
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--text-color);
    z-index: 99;
}

.Modal .container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    background: var(--color-white);
}

/* AddNewTask */
.AddNewTask {
    border-bottom: 1px solid var(--color-light-green);
}

.AddNewTask .btn {
    padding: 1rem;
    width: 100%;
    height: 60px;
}

.AddNewTask .btn button {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--color-orange);
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.AddNewTask .btn button:hover {
    filter: brightness(1.1);
    transition: all 300ms ease;
}

/* Task Form */
.TaskForm {
    padding: 1rem 1rem cal(1rem + 40px) 1rem;
    width: 100%;
    background: var(--color-white);
    border-radius: 1rem;
}

.TaskForm .text input {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: var(--font-size-medium);
    border: none;
}

.TaskForm .text input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-orange);
}

.TaskForm .remind {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.TaskForm p {
    margin-left: 1rem;
}

.TaskForm h3 {
    margin-left: 1rem;
}

.TaskForm .title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem ;
}

.TaskForm .pick-day {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.TaskForm .pick-time {
    padding: 1.5rem;
}

.TaskForm .pick-project {
    padding: 0.5rem;
}

.TaskForm .pick-project .projects {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
}

.TaskForm .pick-project .projects .project {
    border: 1px solid var(--color-orange);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

.TaskForm .pick-project .projects .active {
    background: var(--color-orange);
    color: var(--color-white);
}

.TaskForm .cancel {
    position: absolute;
    top: -3px;
    right: 5px;
    cursor: pointer;
}

.TaskForm .confirm button {
    width: 100%;
    height: 40px;
    background: var(--color-orange);
    color: var(--color-white);
    font-size: var(--font-size-medium);
    border: none;
    border-radius: 1rem 1rem 0 0;
    
    cursor: pointer;
}

/* Calendar */
.Calendar {
    padding: 1rem;
    border-bottom: 1px solid var(--color-light-green);
}

.Calendar .header {
    display: flex;
    align-items: center;
}

.Calendar .header .title {
    display: flex;
    align-items: center;
    flex: 1;
}

.Calendar .header .title p {
    margin-left: 0.5rem;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.Calendar .header .btns span {
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Calendar .header .btns span:hover {
    background-color: var(--color-light-green);
    transition: all 300ms ease-in-out;
}

.Calendar .items {
    padding: 0.5rem;
}

.Calendar .items .item {
    padding: 0.25rem;
    margin: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
}

/* Projects */
.Projects {
    padding: 1rem;
    border-bottom: 1px solid var(--color-light-green);
}

.Projects .header {
    display: flex;
    align-items: center;
    flex: 1;
}

.Projects .header .title {
    display: flex;
    align-items: center;
    flex: 1;
}

.Projects .header .title p {
    margin-left: 0.5rem;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.Projects .header .btns {
    display: flex;
    align-items: center;
}

.Projects .header .btns span.edit {
    margin-right: 0.5rem;
}

.Projects .header .btns span {
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Projects .header .btns span:hover {
    background-color: var(--color-light-green);
    transition: all 300ms ease-in-out;
}

.Projects .items {
    padding: 0.5rem;
}

/* Project */
.Project {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    margin: 0.5rem;
    font-size: var(--font-size-medium);
}

.Project .name {
    cursor: pointer;
    word-break: break-all;
}

.Project .btns {
    display: flex;
    align-items: center;
}

.Project .btns .total-tasks {
    position: absolute;
    right: 0;
    background: var(--color-light-green);
    width: 25px;
    height: 25px;
    font-size: var(--font-size-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.Project .btns .edit-delete {
    position: absolute;
    right: 0;
    display: flex;
}

.Project .btns .edit-delete span {
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 300ms ease-in-out;
}

.Project .btns .edit-delete span.edit:hover {
    background: var(--color-light-green);
}

.Project .btns .edit-delete span.delete:hover {
    background: var(--color-orange);
}

/* AddNewProject */
.AddNewProject .add-button span {
    margin-right: 0.5rem;
}

/* ProjectForm */
.ProjectForm {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 0.4rem;
    position: relative;
    padding-bottom: 4rem;
}

.ProjectForm input {
    width: 100%;
    height: 40px;
    margin: 1.5rem 0;
    border: none;
    font-size: var(--font-size-medium);
}

.ProjectForm input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-orange);
}

.ProjectForm button {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 50%;
    border: none;
    color: var(--color-white);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    transition: filter 300ms ease-in-out;
}

.ProjectForm button.cancel {
    left: 0;
    background-color: var(--color-brown);
}

.ProjectForm button.confirm {
    right: 0;
    background-color: var(--color-orange);
}

.ProjectForm button:hover {
    filter: brightness(1.1);
}

/* Task */
.Task {
    padding: 0.5rem 1rem;
}

.Task .task-container {
    display: flex;
    align-items: center;
}

.Task .task-container span {
    cursor: pointer;
}

.Task .task-container .text {
    position: relative;
    flex: 1;
    margin: 0 1rem;
    cursor: pointer;
}

.Task .task-container .text span {
    font-size: 1rem;
    color: var(--color-brown);
}

.Task .task-container .text .line {
    height: 1px;
    background: var(--color-brown);
    position: absolute;
    top: 25%;
    width: 0;
    transition: width 250ms ease-in-out;
}

.Task .task-container .text .line-through {
    width: 100%;
}

.Task .task-container .add-to-next-day {
    margin-right: 1rem;
}

/* Tasks */
.Tasks {
    width: 300px;
    height: 100%;
    background-color: var(--color-white);
    position: absolute;
    top: 40px;
    left: 20px;
    border-radius: 0.4rem;
    opacity: 0.9;
    padding: 0 0.5rem 0.5rem 0.5rem;
    overflow-y: auto;
}

.Tasks .selected-project {
    margin: 1rem 0;
    text-transform: capitalize;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--color-light-green);
}

.Tasks .tasks {
    overflow-y: auto;
}

/* EditTask */
.EditTask {
    position: absolute;
    top: 40px;
    left: calc(20px + 300px + 20px);
    background-color: var(--color-white);
    height:100%;
    width: 300px;
    border-radius: 0.4rem;
    opacity: 0.9;
}

.EditTask .header {
    margin: 1rem 0.5rem;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--color-light-green);
}

/* Next7Days */
.Next7Days .day {
    margin: 5px;
    display: flex;
}

.Next7Days .day .name {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
}

.Next7Days .day .total-tasks {
    margin-left: 10px;
}