/* App */
.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar */
.Sidebar {
    background-color: var(--color-white);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-base);
    width: 20rem;
    min-width: 21rem;
    height: 100%;
}

/* Main */
.Main {
    background-color: var(--color-light-green);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-base);
}

/* User */
.User {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 1px solid var(--color-light-green);
}

.User .logo img {
    width: 50px;
}

.User .info p {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.User .info a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

/* Modal */
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000cc;
}

.Modal .container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    background: var(--color-white);
}

/* AddNewTAsk */
.AddNewTask {
    border-bottom: 1px solid var(--color-light-green);
}

.AddNewTask .btn {
    padding: 1rem;
    width: 100%;
}

.AddNewTask .btn button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--color-orange);
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.AddNewTask .btn button:hover{
    filter: brightness(1.1);
    transition: all 300ms ease;
}

/* AddNewTask Form */
.AddNewTask form {
    padding: 1rem 1rem cal(1rem + 40px) 1rem;
    width: 500px;
    background: var(--color-white);
    border-radius: 1rem;
}

.AddNewTask form .text input {
    width: 100%;
    padding: 1rem;
    margin:  1rem 0;
    font-size: var(--font-size-medium);
    border: none;
}

.AddNewTask form .text input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-orange);
}

.AddNewTask form .remind {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.AddNewTask form p {
    margin-left: 1rem;
}

.AddNewTask form h3 {
    margin-left: 1rem;
}

.AddNewTask form .title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.AddNewTask form .pick-day {
    padding: 1.5rem 1.5rem 0 1.5rem ;
}

.AddNewTask form .pick-time {
    padding: 1.5rem;
}

.AddNewTask form .pick-project {
    padding: 0.5rem;
}

.AddNewTask form .pick-project .projects {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
}

.AddNewTask form .pick-project .projects .project {
    border: 1px solid var(--color-orange);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

.AddNewTask form .pick-project .projects .active {
    background: var(--color-orange);
    color: var(--color-white);
}

.AddNewTask form .cancel {
    position: absolute;
    top: -3px;
    right: 5px;
    cursor: pointer;
}

.AddNewTask form .confirm button {
    width: 80%;
    height: 40px;
    background: var(--color-orange);
    color: var(--color-white);
    font-size: var(--font-size-medium);
    border: none;
    border-radius: 0 0 0.4rem 0.4rem;
    margin: 1rem 5rem;
    cursor: pointer;
}

/* Calendar */
.Calendar {
    padding: 1rem;
    border-bottom: 1px solid var(--color-light-green);
}

.Calendar .header {
    display: flex;
    align-items: center;
}

.Calendar .header .title {
    display: flex;
    align-items: center;
    flex: 1;
}

.Calendar .header .title p {
    margin-left: 0.5rem;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.Calendar .header .btns span {
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Calendar .header .btns span:hover {
    background-color: var(--color-light-green);
    transition: all 300ms ease-in-out;
}

.Calendar .items {
    padding: 0.5rem;
}

.Calendar .items .item {
    padding: 0.25rem;
    margin: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
}